
<div class="container" style="margin-top:5%">
    <div class="col-md-6 col-md-offset-3">
    <div class="row">
		 <div class="col-md-10 col-md-offset-1">
        <div class="panel member_signin">
            <div class="panel-body">
                <div class="fa_user">
                    <i class="fa fa-lock"></i>
                </div>
                <p class="member">estatezilla</p>
                <form role="form" class="loginform" ng-submit="submitLogin(loginForm)" ng-init="loginForm = {}">
                    
                    <div class="alert alert-danger" role="alert" ng-show="invalidLogin"><strong>Error:</strong> Invalid login</div>
                    
                    <div class="form-group">
                        <label class="sr-only">Username/email</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" ng-model="loginForm.username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control input-lg" ng-model="loginForm.password" placeholder="Password">
                        </div>
                    </div>
					

                    <button type="submit" class="btn btn-primary btn-lg login" ng-hide="loading">LOG IN <i class="fa fa-chevron-right"></i></button>
                    <button type="submit" class="btn btn-primary btn-lg login" ng-show="loading"><i class="fa fa-refresh fa-spin"></i> Logging in...</button>
					<br />
					<br />
					<br />
					  <div class="row">
					  <div class="col-md-6">
					  <div class="login-help">
						<a href="../forgot-pasword">Forgot Password?</a>
					</div>
					</div>					  
					  <div class="col-md-6">
					  <div class="login-help">
						<a href="../register">Create an account</a>
					</div>
					</div>
					</div>					  
<br />
<br />
<div class="row">
					  <div class="col-md-12 text-center">
					  <p class="muted">Please use a valid username and password to login to the administrator backend</p>
					</div>	
					</div>
					
                </form>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>


</div>
